.NavBar-Container{
    width: 100%;
    height: auto;
}
.NavBar-Container .me-auto{

    display: flex;
    justify-content: space-around;
   
    width: 100%;
}
.NavBar-Container .me-auto .nav-link{
    
    display: flex;
    flex-direction: column;
}
.Nav-Bar-Img{
   height: 30px;
   width: auto;
   
}